.ul {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  align-content: end;
}
.owl {
  width: 33px;
  height: 42px;
  margin-top: 24px;
  margin-bottom: 18px;
}
.home {
  height: 20px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
  margin-top: 33px;
}
.about {
  height: 20px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
  margin-top: 33px;
}
.services {
  height: 20px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
  margin-top: 33px;
}
.packages {
  font-family: Helvetica;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  height: 20px;
  color: #636060;
  margin-top: 33px;
}
.greece {
  position: relative;
  margin-bottom: 84px;
}
.discover {
  position: absolute;
  width: 625px;
  height: 91px;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 79px;
  line-height: 100%;
  letter-spacing: 0%;
  top: 650px;
  left: 650px;
  color: #ffffff;
}
.travel {
  position: absolute;
  width: 333px;
  height: 22px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  top: 781px;
  left: 796px;
  color: #ffffff;
}

main {
  display: flex;
  padding: 85px 100px;
}
.left {
}
.disc {
  width: 89px;
  height: 20px;
  margin-bottom: 9px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
}
.service {
  width: 214px;
  height: 32px;
  margin-bottom: 37px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #010101;
}
.teqsti {
  width: 235px;
  height: 115px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
}
.right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 83px;
}
.img1 {
  width: 286px;
  height: 195px;
  margin-right: 90px;
  margin-bottom: 23px;
}
.teqs {
  width: 286px;
  height: 63px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #636060;
  margin-bottom: 56px;
}
.a {
  width: 162px;
  height: 22px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
.b {
  width: 259;
  height: 22;
  top: 451px;
  left: 18px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
.c {
  width: 209;
  height: 22;
  top: 451px;
  left: 343px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
.d {
  width: 131;
  height: 22;
  top: 819px;
  left: -301px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
.e {
  width: 104;
  height: 22;
  top: 819px;
  left: 18px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
.f {
  width: 225;
  height: 22;
  top: 819px;
  left: 343px;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343232;
  margin-bottom: 9px;
}
